<div *ngIf="currentUser">
  <h1>Welcome, {{currentUser.username}}!</h1>

  <div *ngIf="currentUser.role === UserRole.MANAGER">
    <p>You have access to all functionalities:</p>
    <ul>
      <li><a routerLink="/menu">Menu</a></li>
      <li><a routerLink="/order">Order</a></li>
      <li><a routerLink="/user">User</a></li>
    </ul>
  </div>

  <div *ngIf="currentUser.role === UserRole.CHEF">
    <p>You have access to:</p>
    <ul>
      <li><a routerLink="/menu">Menu</a></li>
      <li><a routerLink="/order">Order</a></li>
    </ul>

    <h2>Orders:</h2>
    <table class="table table-dark">
      <thead>
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders">
        <td>{{order.id}}</td>
        <td>{{order.status}}</td>
        <td><button (click)="updateOrderStatus(order)">Zmień status na 'READY_FOR_PICKUP'</button></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="currentUser.role === UserRole.WAITER">
    <p>You have access to:</p>
    <ul>
      <li><a routerLink="/menu">Menu</a></li>
      <li><a routerLink="/order">Order</a></li>
    </ul>
  </div>

  <div *ngIf="currentUser.role === UserRole.CLIENT">
    <p>You have access to:</p>
    <ul>
      <li><a routerLink="/menu">Menu</a></li>
      <li><a routerLink="/order">Order</a></li>
    </ul>
  </div>

  <button (click)="authService.logout()">Logout</button>
</div>
